{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "printWidth": 100,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~/network:api/(.*)$",
    "^~/router/(.*)$",
    "^~/store/(.*)$",
    "^~/features/(.*)$",
    "^~/ui:lib/(.*)$",
    "^~/ui:hooks/(.*)$",
    "^~/ui:styles/(.*)$",
    "^~/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
